@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
  display: flex;
}

@media screen and (max-width: 639.9px) {
    #root{
      flex-direction: column;
    }
}

.custom-table{
  width: 100%;
  text-align: center;
  background-color: white;
}

.navItem:hover{
  background-color: #49C27A;
}

.total-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg, rgb(0, 0, 0) 30%, #ffffff00 0 70%, rgba(0, 0, 0, 0.5) 0) 50%/8% 100%,
    linear-gradient(90deg, rgba(0, 0, 0, 0.29) 30%, #ffffff00 0 70%, rgba(0, 0, 0, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% {
    transform: rotate(1turn)
  }
}

.total-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emerge {
  animation: emerge 0.2s ease-out;
}

@keyframes bounce-scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Aumenta el tamaño del elemento en un 10% */
  }
}

.bounce {
  animation: bounce-scale 0.2s ease;
}

@keyframes emerge {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Ligth.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight:  400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}